<div class="root">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <h1>Kanban</h1>
            <span class="menu-spacer"></span>
            <div>
                <a mat-button [routerLink]="'/accounts'"> Dashboard </a>
                <a mat-button [routerLink]="'/create-account'"> Account </a>
                <a mat-button [routerLink]="'/contacts'"> Settings </a>

            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="board">

        <div class="board-wrapper" cdkDropListGroup>
            <div class="board-columns">
                <div class="board-column" *ngFor='let column of board.columns'>
                    <div class="column-header">
                        <p class="column-title">{{ column.name }}</p>
                        <div class="edit-column" (click)='editColumn(column)'><mat-icon>edit</mat-icon></div>
                    </div>
                    <div class="column-card-wrapper"
                        cdkDropList
                        [cdkDropListData]="column.tasks"
                        (cdkDropListDropped)="drop($event)">
                        <div class="column-card" *ngFor="let task of column.tasks" cdkDrag (click)='seeTask(task)'>{{task.name}}</div>
                    </div>
                    <div class="create-task" (click)='createTask(column)'>
                        + Add task
                    </div>
                </div>
                <div class="board-column create-column" (click)='createColumn()'>
                    + Create Column
                </div>
            </div>
        </div>
    </div>
</div>